@import "./variables.scss";

.container {
  width: 60%;
  margin: 1% auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.titleWrapper {
  width: 90%;
  margin: 0 auto;
}

.sectionHeader {
  align-self: flex-start;
  margin-top: 1em;
}

.authors {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.summary {
  text-align: left;
}
