@import "./variables.scss";

.container {
  width: 60%;
  margin: 5% auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.title {
  font-weight: bold;
  color: $theme-color;
}

.chipContainer {
  width: 100%;
  display: flex;
  gap: 1em;
  align-items: flex-start;
}

.sectionHeader {
  align-self: flex-start;
}

.politicians,
.bills {
  width: 100%;
  padding-left: 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 5em;
}
